.App {
  /* Space for Filter at top */
  & {
    padding: 2rem;

    @media not print {
      padding-top: 5rem;
    }
  }

  /* Margins */
  & {
    max-width: 64rem;
    margin: auto;
  }

  /* Columns */
  .Words {
    margin: 0;
    column-count: 3;
    column-gap: 2rem;
    column-fill: balance;

    @media screen and (max-width: 55rem) {
      column-count: 2;
    }

    @media screen and (max-width: 42rem) {
      column-count: 1;
    }

    .Lexeme {
      break-inside: avoid-column;
      margin-bottom: 1rem;
    }
  }
}