.App {
  padding: 2rem;
  max-width: 64rem;
  margin: auto;

  .Separator {
    margin: 1rem 0;
    border-bottom: double;

    @media print
    {
        display: none !important;
    }
  }

  .Words {
    margin: 1rem;
    column-count: 3;
    column-gap: 2rem;
    column-fill: balance;

    @media screen and (max-width: 55rem) {
      column-count: 2;
    }

    @media screen and (max-width: 42rem) {
      column-count: 1;
    }

    .Lexeme {
      break-inside: avoid-column;
      margin-bottom: 1rem;
    }
  }
}