.Download {
    /* Position */
    & {
      position: fixed;
      bottom: 1.3rem;
      right: 1.5rem;
    }

    /* Style */
    & {
      background-color: white;
      font-size: 1rem;
      border: double;
      border-radius: 50%;

      width: 4rem;
      height: 4rem;

      @media screen and (max-width: 42rem) {
          width: 2.4rem;
          height: 2.4rem;
          font-size: 0.6rem;
      }
    }

    /* Icon and Text */
    & {
      color: black;
      text-align: center;

      span {
          display: block;
      }

      .Icon {
          font-size: 1.2rem;
          transform: rotate(90deg);

          @media screen and (max-width: 42rem) {
              font-size: 0.7rem;
          }
      }
    }

    /* Hover Animation */
    & {
      opacity: 0.5;
      transition: 0.2s;

      &:hover {
          opacity: 1.0;
          transition: 0.2s;
          cursor: pointer;
      }
    }

    /* Hide on Print */
    @media print {
        display: none !important;
    }
}