.Filter {
  width: calc(100% - 2rem);
  background-color: white;

  position: fixed;
  left: 1rem;
  top: 0;

  .Inputs {
    margin: 1rem 0 0 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

    input,
    select {
      margin: 0.2rem;

      background-color: white;
      border-radius: 0.3rem;
      border: 0.1rem solid black;
      padding: 0.3rem 0.5rem;
    }
  }

  .Separator {
    margin: 1rem 0 0.1rem 0;
    border-bottom: double;
  }

  @media print {
    display: none !important;
  }
}