.Filter {
  margin: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;

  input,
  select {
    margin: 0.2rem;

    background-color: white;
    border-radius: 0.3rem;
    border: 0.1rem solid black;
    padding: 0.3rem 0.5rem;
  }

  @media print
  {
      display: none !important;
  }
}
