@use 'sass:color';
@use './style.scss';

.Filter {
  /* Place at The Top and On Top */
  width: calc(100% - 2rem);

  background-color: style.$background-color;
  color: style.$color;

  position: fixed;
  left: 1rem;
  top: 0;

  /* Input Fields */
  .Inputs {
    margin: 1rem auto 0 auto;
    display: flex;
    flex-flow: row;
    justify-content: center;

    /* Fix for Tiny Screens (Issue #34) */
    @media screen and (max-width: style.$tiny) {
      flex-flow: column;
    }

    /* Fix width of input and select on almost Tiny screens (Issue #39) */
    @media screen and (min-width: style.$tiny) {
      max-width: 42rem;

      input {
        flex: 3;
      }

      select {
        flex: 2;
      }
    }

    input,
    select {
      margin: 0.2rem;

      border-radius: 0.3rem;
      border: 0.1rem solid;
      padding: 0.3rem 0.5rem;

      background-color: style.$background-color;
      border-color: style.$color;
      color: style.$color;
    }

    input:hover {
      cursor: text;
    }

    select:hover {
      cursor: pointer;
    }
  }

  /* Separator beneath */
  .Separator {
    margin: 1rem 0 0.1rem 0;
    border-bottom: double;
  }

  /* Hide when printing the page. */
  @media print {
    display: none !important;
  }
}

@media only screen {
  .DarkMode .Filter {
    background-color: color.invert(style.$background-color);
    color: color.invert(style.$color);

    .Inputs input,
    .Inputs select {
      background-color: color.invert(style.$background-color);
      border-color: color.invert(style.$color);
      color: color.invert(style.$color);
    }
  }
}