body {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media not print {

  html,
  body,
  #root {
    margin: 0;
    width: 100%;
    height: 100%;
  }
}