.Lexeme {
  display: block;

  .Word {
    display: inline-block;
    font-weight: bold;
    margin-right: 0.8rem;
  }
  .Type {
    display: inline-block;
    font-style: italic;
  }

  .Note {
    display: block;
    font-style: italic;
  }

  .Translation::before {
    content: "\007E";
    margin-right: 0.2rem;
  }

  .Phrases {
    margin-top: 0.1rem;
    .English {
      display: contents;
      padding-right: 0.4rem;
    }
    .Danish {
      display: contents;
      font-style: italic;
    }
  }
}
