$tiny: 25rem;
$small: 42rem;
$medium: 55rem;
$large: 64rem;

@media only screen {
    .App {
        --background-color: #ffffff;
        --color: #202020;
        --filter: invert(0);
    }

    .App.DarkMode {
        --background-color: #202020;
        --color: #e0e0e0;
        --filter: invert(1)
    }
}

@media only print {
    .App {
        --background-color: #ffffff;
        --color: #000000;
        --filter: invert(0)
    }
}